---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from 'astro:assets'

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const guideEntries = await getCollection("guides");
  return guideEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<style>
  .textOverlay {
    position: absolute; 
    bottom: 2%; 
    padding: 32px;
  }
</style>
<Layout title={entry.data.title}>
  <Container>
    <div class="mx-auto relative">
      <Image
      src={entry.data.image.src}
      alt={entry.data.image.alt}
      sizes="(max-width: auto) 100vw, 800px"
      width={800}
      height={800}
      background="#ffffff"
      fit="cover"
      position="center"
      loading={"eager"}
      decoding={"sync"}
      class="w-full"
    />
    <div class="textOverlay">
      <h1 class="header-text xl:text-7xl lg:text-6xl md:text-5xl sm:text-5xl lg:tracking-tight xl:tracking-tighter font-bold">{entry.data.subtitle}</h1>
      <p class="header-text text-gray-300 text-lg md:text-lg">{entry.data.snippet}</p>
    </div>
  </div>
    <div class="mx-auto max-w-3xl mt-14">
      <span class="color-primary uppercase tracking-wider text-sm font-medium">
        {entry.data.category}
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {entry.data.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {entry.data.author}
        </span>
        <span class="text-gray-400 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap gap-3">
          {
            entry.data.tags && entry.data.tags.map((tag) => (
              <span class="text-sm text-gray-500">#{tag}</span>
            ))
          }
        </div>
      </div>
    </div>
    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <Content />
    </div>
    <div class="text-center mt-8">
      <a
        href="/guides"
        class="bg-gray-100 px-4 sm:px-10 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to guides</a
      >
    </div>
  </Container>
</Layout>
