---
import ExperienceBlock from "@components/blocks/experienceBlock.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import { getExperienceStories } from '@utils/api'

const { tag } = Astro.params;
const { experiences } = Astro.props;
const metadata =  {
    'title': "Experiences:",
    'ctaPrimary': {
        'title': 'â† Back to all experiences',
        'href': '/experiences'
    }
}

// Generate dynamic paths to content via API
export async function getStaticPaths() {
  const stories = await getExperienceStories()
  const uniqueTags = [...new Set(stories.map((story) => story.tag_list).flat())];
  return uniqueTags.map((tag => {
    const tagged = stories.filter((story) => story.tag_list.includes(tag))
    return {
        params: { tag },
        props: { experiences: tagged }
    }
  }))
}
---

<Layout title={tag}>
    <Container class="pb-8 sm:pb-32">
      <Sectionhead category={tag}>
        <Fragment slot="title">{metadata.title}&nbsp;<span class="color-primary">{tag}</span>
        </Fragment>
        <Fragment slot="subtitle">
            <div class="mt-12 mb-8">
                <Link href={metadata.ctaPrimary.href} style="muted">{metadata.ctaPrimary.title}</Link> 
            </div>
        </Fragment>
      </Sectionhead>
      <main class="p-4 sm:p-8">
        <ul class="grid gap-8 md:gap-16 md:grid-cols-2 mx-auto">
            {experiences.map((experience, index) =>  (
                <li>
                    <ExperienceBlock 
                        entry={experience.content} 
                        slug={experience.slug} 
                        index={index} />
                </li>
            ))}
        </ul>
      </main>
    </Container>
  </Layout>
  