---
import Layout from "@layouts/Layout.astro"
import Container from "@components/container.astro"
import Hero from "@components/hero.astro"
import Sectionhead from "@components/sectionhead.astro"
import Link from "@components/ui/link.astro"
import ExperienceItem from "@components/storyblok/ExperienceItem.astro"
import { renderRichText } from '@storyblok/astro'
import { getExperienceStories } from '@utils/api'
import { getExperienceStory } from '@utils/api'

/**
 * Data Mapping
 * - Generate dynamic paths to content via API
 * - Learn more: https://docs.astro.build/en/guides/cms/storyblok/#static-site-generation
 * 
 */
export async function getStaticPaths() {
  const stories = await getExperienceStories()
  return stories.map((story) => {
    return { params: { slug: story.slug } }
  })
}
const { slug } = Astro.params
const story = await getExperienceStory(slug)
console.log("regular content:")
console.log(story.content.snippet)
console.log("rich content: ")
const snippet = renderRichText(story.content.snippet)
console.log(snippet)
console.log("3*******")
---

<Layout title={story.content.title}>
  <Container class="pb-8 sm:pb-16">
    <!-- Section: Hero -->
    <div class="mx-auto relative">
      {story.content.image && <Hero
        title={story.content.title} 
        subtitle={story.content.subtitle} 
        backgroundColor="white"
        backgroundImage={story.content.image}
        center={true} />}
    </div>
    <!-- Inner Container with Padding -->
    <div class="mx-auto prose prose-lg max-w-5xl p-4 sm:p-8">
      <!-- Header -->
      <Sectionhead category={story.content.category} subtitle={story.content.subtitle}>
        <Fragment slot="snippet" set:html={story.content.snippet}></Fragment>
        <!-- References to Blocks Content -->
        <Fragment slot="buttons">
          <div class="flex flex-auto overflow-x-auto mt-8 buttons">
            {
              story.content.blocks && story.content.blocks.map((block) => (
                  <Link style="primary" 
                  class="p-0 sm:p-2 sm:p-2 pl-3 pr-3 sm:pl-6 sm:pr-6 mr-3 bg-color-primary" 
                  href={"#" + `${block.component}-${block.name}`}>
                  {block.category && <p class="hidden sm:block text-xs m-0 text-slate-700 text-bold">{block.category.toUpperCase()}</p>}
                  <p class="m-0 text-sm align-middle">{block.name}</p>
                  </Link>
              ))
            }
            </div>
        </Fragment>
        <!-- Tags -->
        <Fragment slot="tags">
          <div>
            {
              story.tag_list && story.tag_list.map((tag) => (
                <span class="text-sm text-gray-500">#{tag} • </span> 
              ))
            }
          </div>
        </Fragment>
        <Fragment slot="desc">
          <time
          class="text-gray-400"
          datetime={story.content.publishDate}>
          Last Updated: 
          {story.content.publishDate}
        </time>
        </Fragment>
      </Sectionhead>
      <!-- Experience Item List -->
      <div class="w-full">
        {
          story.content.blocks && story.content.blocks.map((itemBlok) => (
            <ExperienceItem blok={itemBlok} />
          ))
        }
      </div>
    </div>

    <!-- Page Sub-Footer -->
    <div class="text-center mt-16">
      <a
        href="/experiences"
        class="bg-gray-100 px-4 sm:px-10 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Experiences</a>
    </div>
  </Container>
</Layout>
