---
import Layout from "@layouts/Layout.astro"
import Container from "@components/container.astro"
import Hero from "@components/hero.astro"
import Sectionhead from "@components/sectionhead.astro"
import Link from "@components/ui/link.astro"
import ExperienceItem from "@components/storyblok/ExperienceItem.astro"

import { getExperienceStories } from '@utils/api'
import { getExperienceStory } from '@utils/api'

/**
 * Data Mapping
 * - Generate dynamic paths to content via API
 * - Learn more: https://docs.astro.build/en/guides/cms/storyblok/#static-site-generation
 * 
 */
export async function getStaticPaths() {
  const stories = await getExperienceStories()
  return stories.map((story) => {
    return { params: { slug: story.slug } }
  })
}
const { slug } = Astro.params
const story = await getExperienceStory(slug)
---

<Layout title={story.content.title}>
  <Container class="pb-32">
    <!-- Section: Hero -->
    <div class="mx-auto relative">
      <Hero
        title={story.content.title} 
        subtitle={story.content.subtitle} 
        backgroundColor="white"
        backgroundImage={story.content.image}
        center={true} />
    </div>
    <!-- Inner Container with Padding -->
    <div class="mx-auto prose prose-lg max-w-5xl">
      <!-- Header -->
      <Sectionhead category="San Jose">
        <Fragment slot="title">{story.content.snippet}</Fragment>
        <!-- References to Blocks Content -->
        <Fragment slot="buttons">
          <div class="flex overflow-x-auto">
            {
              story.content.blocks.map((block) => (
                  <Link style="primary" 
                  class="p-2 pl-6 pr-6 mr-3 bg-color-primary" 
                  href={"#" + block.anchor}>
                  <p class="text-xs  m-0">{block.category.toUpperCase()}</p>
                  <p class="m-0 text-lg">{block.name}</p>
                  </Link>
              ))
            }
            </div>
        </Fragment>
        <!-- Tags -->
        <Fragment slot="tags">
          <div>
            {
              story.content.tags.map((tag) => (
                <span class="text-sm text-gray-500">#{tag} • </span> 
              ))
            }
          </div>
        </Fragment>
        <Fragment slot="desc">
          <time
          class="text-gray-400"
          datetime={story.content.publishDate}>
          Last Updated: 
          {story.content.publishDate}
        </time>
        </Fragment>
      </Sectionhead>
      <!-- Experience Item List -->
      <div>
        {
          story.content.blocks.map((itemBlok) => (
            <ExperienceItem blok={itemBlok} />
          ))
        }
      </div>
    </div>

    <!-- Page Sub-Footer -->
    <div class="text-center mt-16">
      <a
        href="/experiences"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Experiences</a>
    </div>
  </Container>
</Layout>
