---
import { Image } from 'astro:assets'

const { entry, slug, index, dark } = Astro.props;
const cssTitle = dark ? "text-white text-3xl font-semibold leading-snug tracking-tight mt-1" : "text-3xl font-semibold leading-snug tracking-tight mt-1";
const cssSubtitle = dark ? "text-slate-300 text-sm" : "text-slate-600 text-sm";
---

<a href={`/experiences/${slug}`}>
    <div class="grid gap-5 md:gap-10 items-center">
      {entry.image && 
        <Image
          src={entry.image}
          alt={"Experience Feature Photo for '" + entry.title + "'"}
          width={800}
          height={800}
          loading={index <= 2 ? "eager" : "lazy"}
          decoding={index <= 2 ? "sync" : "async"}
          class="w-full rounded-md"
          style="object-fit: cover; min-height:400px; max-height:400px;"
        />
      }
      <div>
        <span class="color-primary uppercase tracking-wider text-sm font-medium">
          {entry.category}
        </span>
        { entry.title && <h2 class={cssTitle}>
          {entry.title}
        </h2>}
        {entry.subtitle &&  <div class="flex gap-2 mt-3 text-sm">
          <span class={cssSubtitle}>{entry.subtitle}</span>
        </div>}
      </div>
    </div>
  </a>