---
import { Picture } from "@astrojs/image/components";
const { entry, slug, index } = Astro.props;
console.log("ENTRY:::::")
console.log(entry.image)
---

<a href={`/experiences/${slug}`}>
    <div class="grid gap-5 md:gap-10 items-center">
      {entry.image && 
        <Picture
          src={entry.image}
          alt="Experience Photo"
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          loading={index <= 2 ? "eager" : "lazy"}
          decoding={index <= 2 ? "sync" : "async"}
          class="w-full rounded-md"
        />
      }
      <div>
        <span class="color-primary uppercase tracking-wider text-sm font-medium">
          {entry.category}
        </span>
        <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
          {entry.title}
        </h2>
        <div class="flex gap-2 mt-3">
          <span class="text-gray-400">{entry.snippet}</span>
        </div>
      </div>
    </div>
  </a>