---
import { Image } from 'astro:assets'
const { entry, slug, index } = Astro.props;
---

<a href={`/experiences/${slug}`}>
    <div class="grid gap-5 md:gap-10 items-center">
      {entry.image && 
        <Image
          src={entry.image}
          alt={"Experience Feature Photo for '" + entry.title + "'"}
          width={800}
          height={600}
          loading={index <= 2 ? "eager" : "lazy"}
          decoding={index <= 2 ? "sync" : "async"}
          class="w-full rounded-md"
          style="object-fit: cover; min-height:500px; max-height:500px;"
        />
      }
      <div>
        <span class="color-primary uppercase tracking-wider text-sm font-medium">
          {entry.category}
        </span>
        <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
          {entry.title}
        </h2>
        <div class="flex gap-2 mt-3">
          <span class="text-gray-400">{entry.snippet}</span>
        </div>
      </div>
    </div>
  </a>