---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ExperienceBlock from "@components/blocks/experienceBlock.astro";
import Link from "@components/ui/link.astro";
import Tag from "@components/ui/tag.astro";
import { getExperienceStories } from '@utils/api'

// Static metadata
const metadata = {
  'title': "Experiences",
}
// All experiences
const stories = await getExperienceStories()

// Unique set of tags for UI filtering
const tags = [...new Set(stories.map((story) => story.tag_list).flat())];

const tagsHTML = tags.map(function(tag) {
  return (`<li class='block px-4 py-2'><button class='w-full leading-10  text-left hover:text-primary text-lg' href='/tags/${tag}'>${tag}</button></li>`)
})
---

<Layout title="experiences">
  <Container class="pb-8 sm:pb-32 relative">
    <!-- Filters Dropdown -->
    <div class="absolute right-8 top-8">
      <button class="text-white bg-primary hover:bg-primaryDark focus:ring-4 rounded-lg px-3 py-3 text-center" id="dropdownDefaultButton" data-dropdown-toggle="dropdown">
        <Icon class="w-8 h-8" name="bx:bx-filter" />
      </button>
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-72 dark:bg-gray-700">
        <p class="p-2 bg-primaryDark text-white font-medium">Filter experiences by...</p>
        <ul class="py-2" aria-labelledby="dropdownDefaultButton" id="filters" set:html={tagsHTML}></ul>
      </div>
    </div>

    <Sectionhead subtitle="true">
      <!-- Page Title -->
      <Fragment slot="title">{metadata.title}</Fragment>
        <Fragment slot="subtitle"><div class="mt-3 mb-3 color-primary font-medium">First-hand adventures of Baja Sur</div></Fragment>
      <!-- Buttons -->
      <Fragment slot="buttons"></Fragment>
    </Sectionhead>

    <!-- All Experience Entries -->
    <main class="p-4 sm:p-8">
      <ul class="grid gap-8 md:gap-16 md:grid-cols-2 mx-auto">
        {
          stories && stories.map((experienceEntry, index) => (
            <li>
              <ExperienceBlock 
                entry={experienceEntry.content} 
                slug={experienceEntry.slug} 
                index={index} />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
