---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets'
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Cta from "@components/cta.astro";

// Filter entries with 'draft: false' & date before current date
const teasers = await getCollection("teasers", ({ data }) => {
  return data.publishDate;
});

// Sort content entries by publication date
teasers.sort(function (a, b) {
  return a.data.publishDate.valueOf() - b.data.publishDate.valueOf();
});
---

<style>
.image-hover {
    width: 100%;
    min-height: 220px;
    opacity: 1.0;
    position: relative;
    display:block;
    overflow: hidden;
  }
  .image-hover img {
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }
  .image-hover:hover img {
    transform: scale(1.25);
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }

  .image-hover:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
  }
  .image-hover:hover:after {
      opacity:1;
  }
</style>

<Layout title="guides">
  <Container class="px-4 sm:px-8">
    <Sectionhead subtitle={true}>
      <Fragment slot="title">Digital Guides</Fragment>
      <Fragment slot="subtitle">
        <h3 class="text-xl font-semibold pt-8 mx-auto max-w-4xl">Access our exclusive paid guide for the best experiences, hidden gems, & deals of Cabo.</h3>
        <p class="p-8 mx-auto max-w-4xl">Why limit yourself to outdated recommendations & generic travel guides? Our local team has hand-selected top spots and curated this content for years to bring you the best Los Cabos has to offer.</p>
      </Fragment>
    </Sectionhead>
    
    <main class="mt-4 sm:mt-16 sm:px-8">
      <ul class="grid sm:grid-cols-2 gap-16 max-w-4xl mx-auto">
        {
          teasers && teasers.map((guide, index) => (
            <li>
              <a href={!guide.data.draft ? `/teasers/${guide.slug}` : "#"} style={guide.data.draft ? "pointer-events: none;" : ""}>
                <div class="grid gap-5 sm:gap-5" style="position:relative;">
                  <div class="image-hover rounded-md">
                    <Image
                      src={guide.data.image.src}
                      alt={guide.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      width={800}
                      height={800}
                      background="#ffffff"
                      fit="cover"
                      position="center"
                      loading={index <= 4 ? "eager" : "lazy"}
                      decoding={index <= 4 ? "sync" : "async"}
                      class="w-full rounded-md"
                      style={guide.data.draft ? "opacity: 0.3;" : "opacity: 1.0;" }
                    />
                  </div>
                  <div>
                    {guide.data.draft ? (<h2 class="text-2xl text-slate-300  font-semibold leading-snug tracking-tight">{guide.data.title}</h2>) : (<h2 class="text-2xl font-semibold leading-snug tracking-tight">{guide.data.title}</h2>)}
                  </div>

                  {guide.data.draft && (<h4 class="font-semibold text-2xl" style="position: absolute; text-align:center;width:100%;top:35%;">COMING SOON</h4>)}
        
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
  <Cta />
</Layout>
