---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from "astro-icon";
import logoImage from "../../assets/holacabo.svg";

const menuitems = [
  {
    title: "Welcome",
    path: "/"
  },
  {
    title: "Experiences",
    path: "#",
    children: [
      { title: "Experience Highlight 1", path: "/experiences/5-must-try-sanjose-local-restaurants" },
      { title: "Experience Highlight 2", path: "/experiences/todo-link-here" },
      { title: "Experience Highlight 3", path: "/experiences/todo-link-here" },
      { title: "Experience Highlight 4", path: "/experiences/todo-link-here" },
      { title: "___", path: "", disabled: true },
      { title: "See all experiences ➞", path: "/experiences" },
    ]
  },
  {
    title: "Digital Guides",
    path: "#",
    children: [
      { title: "Cabo San Lucas (coming soon)", path: "/teasers/cabo", disabled: true },
      { title: "San Jose del Cabo (coming soon)", path: "/guides/sanjose", disabled: true },
      { title: "East Cape (coming soon)", path: "/guides/east-cape", disabled: true },
      { title: "Todos Santos (coming soon)", path: "/guides/todos", disabled: true },
      { title: "Valle de Guadalupe (coming soon)", path: "/guides/valle-guadalupe", disabled: true },
      { title: "___", path: "", disabled: true },
      { title: "See all guides ➞", path: "/guides", enabled: true },
    ],
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<style>
  @media screen and (max-width: 1024px) {
    .social-links {
      padding-top: 16px;
    }
  }
  .brand-logo:hover {
    content: url("/src/assets/holacabo_hover.svg");
    width: 56px;
    height: auto;
  }
</style>

<Container>
  <header class="px-5 flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between lg:gap-2 md:gap-2">
        <img class="brand-logo" src={logoImage.src} width="56px" />
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">Hola</span>
          <span class="text-slate-500">Cabo</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-6 h-6 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 pb-72 sm:pb-0 text-2xl sm:text-lg">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}
                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-12 sm:py-5 text-gray-600 hover:text-gray-900 text-md sm:text-lg">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
          <li>
          <div class="social-links xl:ml-16">
            <a href="https://www.instagram.com/holacabo"><Icon class="h-4 w-4 mt-3 ml-3" name="simple-icons:instagram" /></a>
            <a href="https://www.facebook.com/holacabo"><Icon class="h-4 w-4 mt-3 ml-3" name="simple-icons:facebook" /></a>
            <a href="mailto:holacabomx@gmail.com?subject=Hola!"><Icon class="h-4 w-4 mt-3 ml-3" name="simple-icons:maildotru" /></a>
          </div>
        </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
