---
import ExperienceBlock from "@components/blocks/experienceBlock.astro";
import Link from "@components/ui/link.astro";
import waveSVG from "assets/waves1.svg";
import { Icon } from "astro-icon";

const entry = {
    image: "https://a-us.storyblok.com/f/1013993/1200x1556/9b0ad35157/cabo-the-thompson-cape.jpg", 
    category: "", 
    title: "", 
    snippet: "Covering our favorite restaurants & bars that crank that A/C"
}
const metadata = {
  'title': "Giving tourists and locals the inside scoop on Cabo living",
  'subtitle': "Visiting for the first time? Thinking about moving here full time? We've got you covered on how to navigate and live like a local.",
  'ctaExperienceFeature': {
    'title': "View photos",
    'href': "photos"
  }
}
const fullHref = metadata.ctaExperienceFeature.href
---

<section class="bg-color-primary-dark dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-4 md:grid md:grid-cols-2 sm:py-16 lg:px-6" style="position:relative;">
        <div class="px-2 md:px-16">
            <ExperienceBlock 
            dark={true}
            entry={entry} 
            slug={""} 
            index={1} />
        </div>
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-white dark:text-white">{metadata.title}</h2>
            <p class="mb-6 font-light text-slate-300 md:text-lg dark:text-slate-400">{metadata.subtitle}</p>
            <p class="mb-6 font-light text-slate-300 md:text-lg dark:text-slate-400">See our photos page for a glimpse through the eyes of Hola Cabo's team.</p>
            <Link
              href={fullHref}
              class="inline-flex gap-1 items-center justify-center bg-color-primary"
              rel="noopener">
                <Icon class="text-white w-5 h-5" name="bx:bxs-right-arrow-alt" />
                {metadata.ctaExperienceFeature.title}
            </Link>
            <img src={waveSVG.src} width="200px" style="position:absolute;bottom:-4%;right:10%; opacity: 25%;" />
        </div>
        
    </div>

</section>