---
import { Icon } from "astro-icon";
import { Image } from 'astro:assets'
import beachesImage from "../assets/beaches.jpeg";
import cocktailsImage from "../assets/cocktails.jpeg";
import eventsImage from "../assets/events.jpeg";
import hotelsImage from "../assets/hotels.jpeg";
import foodImage from "../assets/food.jpeg";
import transportationImage from "../assets/transportation.png";
import activitiesImage from "../assets/activities.png";
import Link from "@components/ui/link.astro";

const metadata = {
  'title': "The best of Cabo in every category",
  'subtitle': "We've got you covered on where to explore, stay, dine, and indulge",
  'ctaPrimary': {
    'title': "See all experiences →",
    'href': "/experiences"
  }
}

const features = [
  {
    title: "Top beaches & escapes",
    description: "Unwind and soak up the sun on world-class beaches, including our secret spots and hidden gems.",
    icon: "bx:bxs-sun",
    image: beachesImage,
    url: "/tags/explore",
  },
  {
    title: "Food for every occasion",
    description:
      "Michelin-star dining, local authentic cuisine, the best sushi we've ever had, & our top picks for best marg in town. Mouth watering yet?",
    icon: "bx:bxs-pizza",
    image: foodImage,
    url: "/tags/dine",
  },
  {
    title: "Delicious cocktails & vibrant nightlife",
    description: "Craft cocktail lover? Best sports bar? Live music seeker? Late-night DJ popups?",
    icon: "bx:bxs-moon",
    image: cocktailsImage,
    url: "/tags/nightlife",
  },
  {
    title: "Must-see spots & private events",
    description:
      "Historical, cultural, off the beaten path, invite only, or just amazing, these are the ones you won't want to miss!",
    icon: "bx:bxs-crown",
    image: eventsImage,
    url: "/tags/explore",
  },
  {
    title: "Local pro tips & tricks",
    description:
      "Navigating customs, culture, language, currency, renting a condo, or buying a home: let us make your transition to 'No Bad Days' life seamless.",
    icon: "bx:bxs-lock",
    image: beachesImage,
    url: "/tags/locals"
  },
  {
    title: "Endless activities",
    description:
      "Boating, whale-watching, surfing, snorkeling, golfing, ATV-rides & more. Let us connect you with the best experiences (and price).",
    icon: "bx:bxs-ship",
    image: activitiesImage,
    url: "/tags/explore",
  },
  {
    title: "Hotels & Airbnbs",
    description:
      "Unwind in paradise. Find your perfect stay with our partnering hotels and premium Airbnb hosts.",
    icon: "bx:bxs-building",
    image: hotelsImage,
    url: "/tags/stay",
  },
  {
    title: "Exclusive transportation services",
    description:
      "Experience the ultimate in comfort and luxury with our hand-picked private transportation services.",
    icon: "bx:bxs-taxi",
    image: transportationImage,
    url: "/tags/transportation",
  },
];
---

<style is:global>
  .image-hover {
      opacity: 1.0;
      position: relative;
      overflow: hidden;

  }
  .image-hover-link:hover {
    color: #2a9d8f;
  }
  .image-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }
  .image-hover:hover img {
    transform: scale(1.25);
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }
  .image-hover:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
  }
  .image-hover:hover:after {
      opacity:1;
  }
</style>

<div class="max-w-screen-xxl px-10">
  <div class="mt-16 md:mt-0">
    <h2 id="learn-more-scroll-id" class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      {metadata.title}
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      {metadata.subtitle}
    </p>
  </div>
  <div class="mt-8"><Link href={metadata.ctaPrimary.href}>{metadata.ctaPrimary.title}</Link></div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 mt-16 gap-16 mb-16">
    {
      features.map((item) => (
        <div>
          <a class="image-hover-link" href={item.url}>
          <div class="image-hover" style="max-width: 512px; height: 512px;">
              <Image
              src={item.image}
              alt="Hola Cabo"
              width={1024}
              height={1024}
              quality="max"
              loading="eager"
              />  
            </div>
            <div class="flex gap-4 items-start mt-8">
              <div class="mt-1 bg-color-primary rounded-full  p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name={item.icon} />
              </div>
              <div>
                <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
      </div>
      ))
    }
  </div>
  <div class="mt-8"><Link href={metadata.ctaPrimary.href}>{metadata.ctaPrimary.title}</Link></div>
</div>