---
import { Icon } from "astro-icon";
import beachesImage from "../assets/beaches.jpg";
import proTipsImage from "../assets/feature-protips.jpg";
import cocktailsImage from "../assets/feature-drinks-alt.jpg";
import eventsImage from "../assets/events.jpg";
import hotelsImage from "../assets/hotels.jpg";
import foodImage from "../assets/food.jpg";
import activitiesImage from "../assets/featured-photo-1.jpg";


const metadata = {
  'title': "Covering the best of Cabo in every category",
  'subtitle': "Explore, stay, dine, and indulge your way around town with our expert coverage of the local scene, latest deals, and hidden gems.",
  'ctaPrimary': {
    'title': "See all experiences",
    'href': "/experiences"
  }
}

const features = [
  {
    title: "Beaches & escapes",
    description: "Unwind and soak up the sun on world-class beaches, including the most popular to our secret spots & hidden locations.",
    icon: "bx:bxs-sun",
    image: beachesImage,
    url: "/tags/explore",
  },
  {
    title: "Food",
    description:
      "Local authentic cuisine of restaurants ft. the best sushi, pastor tacos, & mezcalitas we've ever had.",
    icon: "bx:bxs-pizza",
    image: foodImage,
    url: "/tags/dine",
  },
  {
    title: "Cocktails & nightlife",
    description: "Seeking the best marg in town? A place to watch the game? Live music or pop-up concerts? Us too!",
    icon: "bx:bxs-moon",
    image: cocktailsImage,
    url: "/tags/nightlife",
  },
  {
    title: "Hotels & Airbnbs",
    description:
      "Unwind in paradise. Find your perfect stay with our partnering hotels and premium Airbnb hosts.",
    icon: "bx:bxs-building",
    image: hotelsImage,
    url: "/tags/stay",
  },
  {
    title: "Activities",
    description:
      "Boating, whale-watching, surfing, snorkeling, golfing, ATV-rides & more. Let us connect you with the best experiences (and price).",
    icon: "bx:bxs-ship",
    image: activitiesImage,
    url: "/tags/explore",
  },
  {
    title: "Events",
    description:
      "Explore the history, the culture, the off the beaten path, the vibrant events, and the amazing places that make Los Cabos special.",
    icon: "bx:bxs-crown",
    image: eventsImage,
    url: "/tags/explore",
  },
  {
    title: "Local living",
    description:
      "Navigating customs, culture, language, currency, renting a condo, or buying a home - let us help make your transition to \"No Bad Days\" life as seamless as possibile.",
    icon: "bx:bxs-lock",
    image: proTipsImage,
    url: "/tags/locals"
  },

];
---
<div class="max-w-screen-xxl px-4 sm:px-10 pt-16" style="position: relative;">
  <div>
    <h2 id="learn-more-scroll-id" class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-slate-900">
      {metadata.title}
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      {metadata.subtitle}
    </p>
  </div>
  <div class="relative w-full h-[720px]">
    <div id="carousel" class="mt-8 mb-8 relative h-full overflow-hidden rounded-lg" data-carousel="static">
        { features.map((feature, index) => (
          <div class="hidden relative transition duration-1000 ease-in-out hover:scale-105" data-carousel-item>
            <a href={feature.url}>
              <img src={feature.image.src} class="absolute block w-full min-h-[720px] max-h-max -translate-x-1/2 lg:-translate-y-1/2 top-1/2 left-1/2"/>
              <div class=" p-12 items-start mb-5 lg:mb-10 absolute max-w-xl lg:max-w-2xl bg-color-primary-dark">
                <div class="bg-color-primary rounded-full p-2 mt-1 mb-1 w-8 h-8 shrink-0"><Icon class="text-white" name={feature.icon} /></div>
                <h2 class="font-semibold text-2xl text-primary m-w-72 mt-1 mb-1 inline-block align-middle">{feature.title}</h2>
                <div class="inline-block align-middle"><p class="text-slate-200 text-lg">{feature.description}</p></div>
              </div>
            </a>
          </div>
          ))}
      <button type="button" class="absolute top-10 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center lg:w-20 lg:h-20 w-10 h-10 rounded-full bg-white/90 dark:bg-gray-800/30 group-hover:bg-primary dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-3 h-3 lg:w-6 lg:h-6 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
              <span class="sr-only">Previous</span>
          </span>
      </button>
      <button type="button" class="absolute top-10 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center lg:w-20 lg:h-20 w-10 h-10 rounded-full bg-white/90 dark:bg-gray-800/30 group-hover:bg-primary dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-3 h-3 lg:w-6 lg:h-6 dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>    
  </div>
  <!-- <Link
      href={metadata.ctaPrimary.href}
      class="inline-flex gap-1 items-center justify-center bg-color-primary"
      rel="noopener">
      <Icon class="text-white w-5 h-5" name="bx:bxs-right-arrow-alt" />
      {metadata.ctaPrimary.title}
  </Link> -->
</div>