---
import { Icon } from "astro-icon";
import { Image } from 'astro:assets'
import beachesImage from "../assets/beaches.jpeg";
import cocktailsImage from "../assets/cocktails.jpeg";
import eventsImage from "../assets/events.jpeg";
import hotelsImage from "../assets/hotels.jpeg";
import foodImage from "../assets/food.jpeg";
import transportationImage from "../assets/transportation.png";
import activitiesImage from "../assets/activities.png";
import Link from "@components/ui/link.astro";

const metadata = {
  'title': "We cover the best of Cabo in every category",
  'subtitle': "Explore, stay, dine, and indulge your way around town with our expert coverage of the local scene, latest deals, and hidden gems.",
  'ctaPrimary': {
    'title': "See all experiences",
    'href': "/experiences"
  }
}

const features = [
  {
    title: "Top beaches & escapes",
    description: "Unwind and soak up the sun on world-class beaches, including the most popular to our secret spots & hidden locations.",
    icon: "bx:bxs-sun",
    image: beachesImage,
    url: "/tags/explore",
  },
  {
    title: "Food for every occasion",
    description:
      "Michelin-star dining, local authentic cuisine, the best sushi we've ever had, & our top picks for best marg in town. Is your mouth watering yet?",
    icon: "bx:bxs-pizza",
    image: foodImage,
    url: "/tags/dine",
  },
  {
    title: "Delicious cocktails & vibrant nightlife",
    description: "Seeking the best marg in town? A place to watch the game? Live music or pop-up concerts? Us too!",
    icon: "bx:bxs-moon",
    image: cocktailsImage,
    url: "/tags/nightlife",
  },
  {
    title: "Must-experience locations & seasonal events",
    description:
      "Explore the history, the culture, the off the beaten path, the vibrant events, and the amazing places that make Los Cabos special.",
    icon: "bx:bxs-crown",
    image: eventsImage,
    url: "/tags/explore",
  },
  {
    title: "Local pro tips & tricks",
    description:
      "Navigating customs, culture, language, currency, renting a condo, or buying a home - let us help make your transition to \"No Bad Days\" life as seamless as possibile.",
    icon: "bx:bxs-lock",
    image: beachesImage,
    url: "/tags/locals"
  },
  {
    title: "Endless activities for all ages",
    description:
      "Boating, whale-watching, surfing, snorkeling, golfing, ATV-rides & more. Let us connect you with the best experiences (and price).",
    icon: "bx:bxs-ship",
    image: activitiesImage,
    url: "/tags/explore",
  },
  {
    title: "Hand-picked hotels & Airbnbs",
    description:
      "Unwind in paradise. Find your perfect stay with our partnering hotels and premium Airbnb hosts.",
    icon: "bx:bxs-building",
    image: hotelsImage,
    url: "/tags/stay",
  },
  {
    title: "Exclusive transportation services",
    description:
      "Experience the ultimate in comfort and luxury with our select private transportation services.",
    icon: "bx:bxs-taxi",
    image: transportationImage,
    url: "/tags/transportation",
  },
];
---

<style is:global>
  .image-hover {
      opacity: 1.0;
      position: relative;
      overflow: hidden;

  }
  .image-hover-link:hover {
    color: #2a9d8f;
  }
  .image-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }
  .image-hover:hover img {
    transform: scale(1.25);
    transition: transform .55s ease-in-out;
    -moz-transition: transform .55s ease-in-out;
    -webkit-transition: transform .55s ease-in-out;
  }
  .image-hover:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
  }
  .image-hover:hover:after {
      opacity:1;
  }
</style>

<div class="max-w-screen-xxl px-4 sm:px-10 pt-16" style="position: relative;">
  <div class="mt-16 md:mt-0">
    <h2 id="learn-more-scroll-id" class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-slate-900">
      {metadata.title}
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      {metadata.subtitle}
    </p>
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 mt-16 gap-16 mb-16">
    {
      features.map((item) => (
        <div>
          <a class="image-hover-link" href={item.url}>
          <div class="image-hover" style="max-width: 512px; height: 512px;">
              <Image
              src={item.image}
              alt={"Icon for " + item.title}
              width={512}
              height={512}
              quality="max"
              loading="eager"
              class="w-full rounded-md"
              />  
            </div>
            <div class="flex gap-4 items-start mt-8">
              <div class="mt-1 bg-color-primary rounded-full  p-2 w-8 h-8 shrink-0">
                <Icon class="text-white" name={item.icon} />
              </div>
              <div>
                <h2 class="font-semibold text-xl">{item.title}</h2>{" "}
                <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
              </div>
            </div>
          </a>
      </div>
      ))
    }
  </div>
  <Link
      href={metadata.ctaPrimary.href}
      class="inline-flex gap-1 items-center justify-center bg-color-primary"
      rel="noopener">
      <Icon class="text-white w-5 h-5" name="bx:bxs-right-arrow-alt" />
      {metadata.ctaPrimary.title}
  </Link>
</div>