---
import { Image } from 'astro:assets'
import { Icon } from "astro-icon";
import logoImage from "../assets/holacabo-white-transparent.png";

const linksColumnOne = [
  {
    name: "Best Places to Escape the Heat this Summer",
    url: "/experiences/todo-link-here"
  },
  {
    name: "San Jose's Top 5 Dining Experiences",
    url: "/experiences/todo-link-here"
  },
  { name: "Exploring Hidden Waterfalls in Los Cabos", url: "/experiences/todo-link-here" },
  { name: "___", url: ""},
  {
    name: "see all experiences →",
    url: "/experiences"
  },
]
const linksColumnTwo = [
  {
    "name": "Cabo San Lucas",
    "url": "/guides"
  },
  {
    "name": "San Jose del Cabo",
    "url": "/guides"
  },
  {
    "name": "Todos Santos",
    "url": "/guides"
  },
  { name: "___", url: ""},
  {
    "name": "see all guides →",
    "url": "/guides"
  }
]
---

<style>
.container {
  max-width: 1400px;
  margin:auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  padding: 70px 0;
}
.footer-col {
   width: 25%;
   padding: 0 15px;
}
.footer-col-slim { width: 15%; padding: 0 15px; }
.footer-col-wide { width: 30%; padding: 0 15px; }
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #7ab3ad;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
@media(max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px) {
  .footer-col{
    width: 100%;
  }
}
.heroHover {
  max-width:128px;
}
.heroHover:hover {
  content: url("/src/assets/holacabo-white-transparent_hover.png");
  max-width: 128px;
  height: auto;
}
</style>

<footer class="footer bg-color-dark">
  <div class="container">
   <div class="row">
    <div class="footer-col footer-col-slim">
      <Image
      src={logoImage}
      alt="Hola Cabo Business Logo"
      width={512}
      height={512}
      sizes="(max-width: 128px) 100vw, 512px"
      loading="eager"
      format="avif"
      class="heroHover hidden md:inline"
      />
    </div>
     <div class="footer-col footer-col-wide">
       <h4>experiences</h4>
       <ul>
       {
        linksColumnOne.map((item) => (
        <li><a href={item.url}>{item.name}</a></li> 
        ))
       }
       </ul>
     </div>
     <div class="footer-col">
       <h4>guides</h4>
       <ul>
        {
          linksColumnTwo.map((item) => (
          <li><a href={item.url}>{item.name}</a></li> 
          ))
         }
       </ul>
     </div>
     <div class="footer-col">
       <h4>connect with us</h4>
       <div class="social-links">
         <a href="https://www.instagram.com/holacabo"><Icon class="h-4 w-4 mt-3 ml-3" name="simple-icons:instagram" /></a>
         <a href="https://www.facebook.com/holacabo"><Icon class="h-4 w-4 mt-3 ml-3" name="simple-icons:facebook" /></a>
         <a href="/contact"><Icon class="h-4 w-4 mt-3 ml-3" name="bx:bx-send" /></a>
         <a href="mailto:holacabomx@gmail.com?subject=Hola!"><Icon class="h-4 w-4 mt-3 ml-3" name="simple-icons:maildotru" /></a>
       </div>
       <div class="mt-2">
        <a class="text-sm text-gray-100"href="mailto:holacabomx@gmail.com?subject=Hola!">holacabomx@gmail.com</a>
       </div>
     </div>
   </div>
  </div>
</footer>
